.main{
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

#root{
    font-family: 'Courier New', Courier, monospace;
    
}

.rowC{
    display: flex;
    flex-direction: row;
}

.container{
    width: 30%;
    text-align: center;
    background: rgba(135, 188, 37, 0.5);
    border-radius: 1em;
    border-color: black;
    padding: 1em;
    margin: 1em;
}


.widget-value{
    font-size: 2em;    
}
